[buildout]
develop = . ../chameleon benchmark
parts = test benchmark py
versions = versions

[versions]
zope.component = 3.5.1
zope.configuration = 3.4.1
zope.deferredimport = 3.4.0
zope.deprecation = 3.4.0
zope.dottedname = 3.4.5
zope.event = 3.4.0
zope.exceptions = 3.5.2
zope.hookable = 3.4.0
zope.i18n = 3.6.0
zope.i18nmessageid = 3.4.3
zope.interface = 3.5.0
zope.location = 3.5.2
zope.proxy = 3.5.0
zope.publisher = 3.5.6
zope.schema = 3.5.1
zope.security = 3.6.0
zope.traversing = 3.5.2
zope.testing = 3.7.1
zc.recipe.testrunner = 1.1.0

[test]
recipe = zc.recipe.testrunner
environment = test-environment
eggs =
   z3c.pt

[test-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = False

[benchmark]
recipe = zc.recipe.testrunner
environment = benchmark-environment
eggs =
   z3c.pt
   benchmark

[benchmark-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = False
zope_i18n_allowed_languages = en, da, de

[py]
recipe = zc.recipe.egg
eggs = 
    z3c.pt
    benchmark
    Sphinx
    zope.testing
interpreter = py
environment = benchmark-environment
scripts = sphinx-build
