[buildout]
develop = . benchmark
eggs = z3c.pt
parts = test benchmark
find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = z3c.pt

[benchmark]
recipe = zc.recipe.testrunner
eggs = benchmark