[buildout]
develop = .
eggs = z3c.pt chameleon
parts = test py
versions = versions

[versions]
zope.component = 3.7.1
zope.configuration = 3.6.0
zope.deferredimport = 3.5.3
zope.deprecation = 3.4.0
zope.dottedname = 3.4.5
zope.event = 3.4.0
zope.exceptions = 3.5.2
zope.hookable = 3.4.0
zope.i18n = 3.7.4
zope.i18nmessageid = 3.5.3
zope.interface = 3.5.0
zope.location = 3.5.2
zope.proxy = 3.5.0
zope.publisher = 3.7.0
zope.schema = 3.5.1
zope.security = 3.6.0
zope.traversing = 3.7.1
zope.testing = 3.7.1
zc.recipe.testrunner = 1.1.0

[test]
recipe = zc.recipe.testrunner
eggs =
   z3c.pt

[py]
recipe = zc.recipe.egg
eggs =
    z3c.pt
    Sphinx
    zope.testing
interpreter = py
scripts = sphinx-build
